<main>
    <section id="conteudos">
        <div id="ofertas">
            <div class="titulos-conteudos"><h1>ofertas</h1></div>
            <div class="produto">
                <div class="fotoproduto"><a href=""><img src="img/bars-solid.svg" alt="Cadeira Gamer"></a></div>
                <div class="nomeproduto"><a href="">Cadeira Gamer</a></div>
                <div class="descricao"><p>Cadeira Gamer DT3sports Elise, Pink - 11834-7</p></div>
                <div class="preco"><a href="">R$ 1.599,90</a></div>
            </div>
            <div class="produto">
                <div class="fotoproduto"><a href=""><img src="img/bars-solid.svg" alt="Cadeira Gamer"></a></div>
                <div class="nomeproduto"><a href="">Cadeira Gamer</a></div>
                <div class="descricao"><p>Cadeira Gamer DT3sports Elise, Pink - 11834-7</p></div>
                <div class="preco"><a href="">R$ 1.599,90</a></div>
            </div>
            <div class="produto">
                <div class="fotoproduto"><a href=""><img src="img/bars-solid.svg" alt="Cadeira Gamer"></a></div>
                <div class="nomeproduto"><a href="">Cadeira Gamer</a></div>
                <div class="descricao"><p>Cadeira Gamer DT3sports Elise, Pink - 11834-7</p></div>
                <div class="preco"><a href="">R$ 1.599,90</a></div>
            </div>
            <div class="produto">
                <div class="fotoproduto"><a href=""><img src="img/bars-solid.svg" alt="Cadeira Gamer"></a></div>
                <div class="nomeproduto"><a href="">Cadeira Gamer</a></div>
                <div class="descricao"><p>Cadeira Gamer DT3sports Elise, Pink - 11834-7</p></div>
                <div class="preco"><a href="">R$ 1.599,90</a></div>
            </div>
            <div class="produto">
                <div class="fotoproduto"><a href=""><img src="img/bars-solid.svg" alt="Cadeira Gamer"></a></div>
                <div class="nomeproduto"><a href="">Cadeira Gamer</a></div>
                <div class="descricao"><p>Cadeira Gamer DT3sports Elise, Pink - 11834-7</p></div>
                <div class="preco"><a href="">R$ 1.599,90</a></div>
            </div>
        
    </section>
</main>